/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Our Rules

Header-----------------------------------------
*/
#menu{
    display: none;
}
header{
    width: 100%;
    margin: 0 auto;
    background-color:#FFF;
    border-bottom: 1.5rem solid #A1B6BA;
}
#logo{
    position: relative;
    top: 0.5rem;
}
nav
{  
    z-index: 1000;
    margin: 0 auto;
    top: 2rem;
    position: relative;
    background-color: #FFF;
	width: 60%;
}
.top-navigation-bar{
    text-align: center;
    margin: 0 auto;
}
.top-navigation-item{
    position: relative;
    display: inline-block;
    width: 17%;
    margin: 0 auto;
    line-height: 1.5rem;
    color: black;
}
.top-navigation-item a{
    padding: 0.25rem 2.5314% 0.25rem 11.61877%;
    border-left: 1px solid #DC2911;
}
.top-navigation-ul {
    text-align: left;
    list-style: url(images/arrows.gif);
    display: none;
    overflow: visible;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0.5rem 17.4281611%;
    z-index: 1;
}
.top-navigation-ul a{
    border: none;
}

.top-navigation-item:hover .top-navigation-ul {
    display: block;
}
/*
END------------------------------------

Content sizing
*/
body
{
	background-color: #E8F0FF;
}
#container
{
	width: 100%;
	margin: 0 auto;
}
#content
{
	width: 80%;
	margin: 0 auto;
	background-color: white;
}
/*

Navigations hyperlinks css*/
nav ul li a, .fixed-navigation-bar ul li a{
    font-family: 'Arimo', sans-serif;
    color: #344147;
    text-decoration: none;
    font-size: 1rem;
}
nav li a:hover{
    background-color: #EEF3F5;
}
/*
END----------------------------------

Sticky navigation bar
*/
#fixed-menu-icon{
    display: none;
    margin: 0 auto;
    padding-right: 6.66%;
}
.fixed-navigation-bar{
    width: 80%;
    vertical-align: middle;
    z-index: 1000;
    background-color: #A1B6BA;
    position: absolute;
}
#fixed-navigation-ul{
    text-align: center;
    float: right;
}
#fixed-navigation-bar-icon{
    width: 3%;
    padding: 0.25rem;
    float: left;
}
.scrolling{ 
    top:0;
    position: fixed;
}
#fixed-navigation-ul{
    padding-top: 1.25rem;
    width: 95%;
}
#fixed-navigation-ul li{
    padding: 1.15rem 0 0.875rem 0;
    display: inline;
}
#fixed-navigation-ul li a{
    padding: 1.2rem 3.1187235% 0.95rem 3.1187235%;
    text-transform: uppercase;
}
#fixed-navigation-ul li a:hover{
    background-color: #344147;
}
/*
END----------------------------------------

Content
*/
.wrapper{
    background-color: white;
    padding-bottom: 2rem;
}
.carousel img{
    margin: 0 auto;
}
.parallax{
    display: flex;
    align-items: center;
    background-color: black;
    height: 37.5rem;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.text-images{
    width: 70%;
    margin: 0 auto;
    color: white;
    text-align: center;
}
.image-with-text .text-images{
    background-color: rgba(0, 0, 0, 0.6);
}
blockquote{
    font-size: 1.5rem;
}
#parallax-image{
    background-image: url(images/parallax_image_index.jpg); /*Parallax scrolling*/
}
#parallax-image-2{
    background-image: url(images/parallax_image_2.jpg);
}
.pic-des-lft-div, .pic-des-rgt-div{
    width: 35%;
    padding: 1rem 0.3812%;
}
.pic-plus-text{
    width: 80%;
    margin: 0 auto;
}
.pic-des-lft-div{
    float: left;
}
.pic-des-rgt-div{
    float: right;
}
.image-with-text{
    align-items: center;
    width: 100%;
    background-image: url(images/Hong-Kong-Hotel.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 31.25rem;
}
.input-padding{
    padding: 0.75rem 0;
}
#hotels{
    clear: both;
    padding-bottom: 2rem;
    margin: 0 auto;
    width: 100%;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.75rem;
    padding-bottom: 1rem;
}
h1, h2{
    margin: 0 auto;
    margin-bottom: 1.5rem;
    width: 75%;
    padding: 0.675rem 0.74069%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #344147;
    border-bottom: 1px solid #DC2911;
}
p, a{
    line-height: 1.5;
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    font-size:1.1rem;
}
p{
    color: darkgrey;
}
.text-images p{
    color: white;
}
a{
    text-decoration: none;
    color: #344147;
}
a:hover{
    color: black;
}
.authors-h2{
    border: none;
    width: 30%;
}
.parallax h2{
    font-size: 3.25rem;
}
.parallax h2, .text-images h2{
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: none;
}
.text-images h2{
    font-size: 2.5rem;
}
#text h3{
    font-family: 'Cabin Condensed', sans-serif;
}
#textbtwnparallax{
    width: 64.819%;
    color: darkgrey;
    font-family: 'Courgette', cursive;
    text-align: center;
    margin: 0 auto;
    padding: 4.5rem 0 1.5rem 0;
}
#textbtwnparallax blockquote, .text-images blockquote{
    line-height: 1.5rem;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
}
#textbtwnparallax blockquote{
    font-size: 1.125rem;
}
#text{
    padding: 1.25rem;
    line-height: 1.5;
    font-family: 'Cabin', sans-serif;
}
.article {
clear: both;
overflow: hidden;
}
#articles a{
    display: block;
    width: max-content;
    margin: 0 auto;
}
.article p{
    width: 60%;
    float: left;
    padding: 1rem 5%;
}
.article-photo{
    width: max-content;
    padding: 1rem 2%;
}
#first .article-photo{
    float: right;
}
#second .article-photo{
    float: left;
}
#second{
    clear: both;
}
#second p{
    float: right;
}
/*
Footer

*/
footer{
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    background-color: #A1B6BA;
}
footer aside{
    width: 80%;
    margin: 0 auto;
}
footer aside a, footer aside p{
    text-decoration: none;
    padding: 0.5rem 0.74069%;
    line-height: 1.5;
    font-size: 1.25rem;
    font-family:'Istok Web', sans-serif;
    color: white;
}
aside a:hover{
    color: #758587;
}
aside ul li a:hover{
    color: white;
}
#share-buttons{
    margin: 0 auto;
    padding: 0 3.2204% 1rem 3.2204%;
}
.inline-divs{
    float: left;
    width: 23%;
}
.inline-divs-content{
    margin: 0 auto;
}
.inline-divs ul li a{
    padding-left: 4.8306%;
    line-height: 1.5;
    font-size: 1rem;
    font-family: 'Istok Web', sans-serif;
    color: #344147;
    text-decoration: none;
}
/*
END

About the author
*/
.author{
    font-family:'Istok Web', sans-serif;;
    padding-top:0.5rem;
    border-top: 1px solid #344147;
    width: 80%;
    margin: 0 auto;
    clear: both;
    color: #344147;
    font-size: 0.675rem;
    line-height: 1.5;
}
.author a{
    font-size: 0.675rem;
    color: white;
    text-decoration: none;
}
.author a:hover{
    color: aliceblue;
}
#Ale-div, #Will-div{
    text-align: center;
    display: block;
    padding-left: 2.96278%;
    margin: 0 auto;
    width: 45%;
    float: left;
}
#Will-div{
    float: right;
}
#Ale-div p, #Will-div p{
    margin: 1rem auto;
    font-size: 0.95rem;
    line-height: 1.5rem;
    font-family: 'Raleway', sans-serif;
}
#div-authors{
    overflow: hidden;
    width: 100%;
    background-color: white;
}
/*
END

Form Personalization

datepicker/submit: http://codepen.io/maheshambure21/pen/VYJQYG

select: https://codepen.io/ericrasch/pen/zjDBx
*/
.styled-select {
    margin: 0 auto;
   background: url(images/mini-arrow-select.jpg) no-repeat 96% 0;
   height: 29px;
   overflow: hidden;
   width: 240px;
}

.styled-select select {
   background-color: rgba(255, 255, 255, 0.6);
   border: none;
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
}
select { color: black}
.styled-select.slate {
   background: url(images/mini-arrow-select.jpg) no-repeat right center;
   height: 34px;
   width: 240px;
}

.styled-select.slate select {
   border: 1px solid #ccc;
   font-size: 16px;
   height: 34px;
   width: 268px;
}
[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

/* Datepicker and input */
input {
    font-family: 'Raleway', sans-serif;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 7px 5px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 190px;
}
/*
END

Media Queries
*/
@media screen and (max-width: 48.63rem){    /*Ipad and tablets*/
h1{
    font-size: 1.90rem;
}
h2{
    font-size: 1.5rem;
}
.parallax h2{
    font-size: 2.5rem;
}
#textbtwnparallax blockquote{
    font-size: 1rem;
}
#textbtwnparallax{
    width: 85%;
}
/*Top Navigation Bar*/
#menu{
    display: block;
}
#accordion nav{
	max-height: 0rem;
	overflow: hidden;
	transition:max-height 0.5s;
}

#accordion .open {
	max-height: 60rem;
	transition:max-height 1s;
}
nav
{  
    top: 0rem;
	width: 100%;
}
.top-navigation-bar{
    text-align: center;
    margin: 0 auto;
}
.top-navigation-item{
    width: 100%;
}
.top-navigation-ul {
    display: none;
}
.top-navigation-item a{
    text-transform: uppercase;
    padding: 0.25rem 0;
    display: block;
    width: 100%;
    border-bottom: 1px solid black;
}
.top-navigation-item:hover .top-navigation-ul {
    display: none;
}
}
@media screen and (max-width: 480px){     /*Phones*/
 #content, footer {
    width:95%;
 }
 aside{
    width: 100%;
    clear: both;
 }
 /*
 Fixed navigation bar -> static
 */
 #fixed-menu-icon{
     padding-right: 0;
 }
 .fixed-navigation-bar{
    width: 100%;
    position: static;
 }
#fixed-navigation-ul{
    background-color: #A1B6BA;
    width: 100%;
    padding-top: 0;
    float:left;
}
#fixed-navigation-ul li{
    width: 100%; 
    display: block;
    padding: 0.5rem 0;
    border-top: 1px solid white;
}

#fixed-navigation-bar-icon{
    display: none;
}   
#textbtwnparallax{
    width: 85%;
    padding: 0.5rem 0 1.5rem 0;
}
}
@media screen and (max-width: 42.5rem)
{
footer
{
    clear: both;
}
.inline-divs{
    text-align: center;
    width: 100%;
}
.inline-divs ul{
    display: none;
}
#share-buttons{
    margin: 0 auto;
    padding: 0 ;
}
#share-buttons p{
    font-size: 1rem;
    text-transform: uppercase;
}
footer aside a{
    text-transform: uppercase;
    display: block;
    width: 100%;
    padding: 0.25rem 0;
    font-size: 1rem;
    border-bottom: 1px solid white;
}
footer aside a:hover{
    background-color: aliceblue;
    color: black;
}
#share-buttons-div{
    width: 40%;
    margin: 0 auto;
}
#share-buttons a{
    padding: 0 0.5rem 0.5rem 0.5rem;
    width: 20%;
    margin: 0 auto;
    border: none;
}
#share-buttons a{
    background-color: transparent;
}
}

@media screen and (max-width: 950px){     /*fixed navbar*/
#fixed-menu-icon{
    display: block;
}
#fixed-accordion ul{
    width: 100%;
    padding: 0;
	max-height: 0rem;
	overflow: hidden;
	transition:max-height 0.5s;
}

#fixed-accordion .open2 {
	max-height: 60rem;
	transition:max-height 1s;
}
#fixed-navigation-ul li{
    width: 100%; 
    display: block;
    padding: 0.5rem 0;
    border-top: 1px solid white;
}
#fixed-navigation-ul li a{
    display: block;
    width: 100%;
    text-align: center;
    padding: 0.25rem 0;
}

}
