/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*Our Rules*/
#logo{
    position: relative;
    top: 3px;
}
header{
    width: 100%;
    margin: 0 auto;
    background-color:#FFF;
    border-bottom: 1.5rem solid #A1B6BA;
}
body
{
	background-color: #E8F0FF;
}
#container
{
	width: 100%;
	margin: 0 auto;
}
#content
{
	width: 80%;
	margin: 0 auto;
	background-color: white;
}
footer{
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    background-color: #A1B6BA;
}
nav
{  
    margin: 0 auto;
    z-index: 1000;
    top: 2rem;
    position: relative;
    background-color: #FFF;
	width: 60%;
}
nav ul{
    text-align: center;
    margin: 0 auto;
}
.accordion-li{
    position: relative;
    display: inline-block;
    width: 17%;
    margin: 0 auto;
    line-height: 1.5rem;
    color: black;
}
.accordion-li a{
    padding: 0.25rem 3rem 0.25rem 1rem;
    border-left: 1px solid #DC2911;
}
.accordion-item {
    list-style: url(images/arrows.gif);
    display: none;
    overflow: visible;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 0.5rem 1.5rem;
    z-index: 1;
}
.accordion-item a{
    border: none;
}

.accordion-li:hover .accordion-item {
    display: block;
    z-index: 100000;
}
nav li a,.fixed-nav ul li a{
    font-family: 'Arimo', sans-serif;
    color: #344147;
    text-decoration: none;
    font-size: 1rem;
}
nav li a:hover{
    background-color: #EEF3F5;
}
#nav-ul{
    text-align: center;
    float: right;
}
#nav-icon{
    padding: 0.5rem 0 0 0.5rem;
    float: left;
}
.fixed-nav{
    vertical-align: middle;
    z-index: 1000;
    overflow: hidden;
    height: 3.5rem;
    background-color: #A1B6BA;
    position: absolute;
}
.scrolling{ 
    top:0;
    position: fixed;
}
.fixed-nav ul{
    padding-top: 1.25rem;
    width: 95%;
    text-align: center;
}
.fixed-nav ul li{
    display: inline;
}
.fixed-nav ul li a{
    padding: 1rem 2rem 1rem 2rem;
    text-transform: uppercase;
}
.fixed-nav ul li a:hover{
    color: aliceblue;
    background-color: #344147
}
.wrapper{
    width: 100%;
    background-color: white;
    padding-bottom: 2rem;
}
.carousel img{
    margin: 0 auto;
}
.parallax{
    display: flex;
    align-items: center;
    background-color: black;
    height: 600px;
    width: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.text-parallax{
    color: white;
    margin: 0 auto;
    text-align: center;
}
blockquote{
    font-size: 1.5rem;
}
aside{
    width: 80%;
    margin: 0 auto;
}
.inline-divs{
    float: left;
    width: 23%;
}
.inline-divs-content{
    margin: 0 auto;
}
#parallax-image{
    background-image: url(images/parallax_image_index.jpg); /*Parallax scrolling*/
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.75rem;
    padding-bottom: 1rem;
}
h1, h2{
    margin: 0 auto;
    margin-bottom: 1.5rem;
    width: 75%;
    padding: 0.675rem 0.5rem 0.675rem 0.5rem;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #344147;
    border-bottom: 1px solid #DC2911;
}
.authors-h2{
    border: none;
    width: 30%;
}
.parallax h2{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3.25rem;
    color: white;
    border: none;
}
#textbtwnparallax{
    width: 700px;
    color: darkgrey;
    font-family: 'Courgette', cursive;
    text-align: center;
    margin: 0 auto;
    padding: 4.5rem 0 1.5rem 0;
}
#textbtwnparallax blockquote, .text-parallax blockquote{
    line-height: 1.5rem;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
}
#textbtwnparallax blockquote{
    font-size: 1.125rem;
}
#share-buttons{
    margin: 0 auto;
    padding: 0 0.5rem 1rem 0.5rem;
}
aside p{
    height: auto;
    padding: 0.5rem;
    line-height: 1.5;
    font-size: 1.25rem;
    font-family:'Istok Web', sans-serif;;
    color: white;
    text-transform: uppercase;
}
.inline-divs ul li a{
    padding-left: 0.75rem;
    line-height: 1.5;
    font-size: 1rem;
    font-family: 'Istok Web', sans-serif;
    color: #344147;
    text-decoration: none;
}
aside ul li a:hover{
    color: white;
}
.author{
    font-family:'Istok Web', sans-serif;;
    padding-top:0.5rem;
    border-top: 1px solid #344147;
    width: 80%;
    margin: 0 auto;
    clear: both;
    color: #344147;
    font-size: 0.675rem;
    line-height: 1.5;
}
.author a{
    color: white;
    text-decoration: none;
}
.author a:hover{
    color: aliceblue;
}
#Ale-div, #Will-div{
    text-align: center;
    display: block;
    padding-left: 2rem;
    margin: 0 auto;
    width: 45%;
    float: left;
}
#Will-div{
    float: right;
}
#Ale-div p, #Will-div p{
    margin: 1rem auto;
    font-size: 0.95rem;
    line-height: 1.5rem;
    font-family: 'Raleway', sans-serif;
}
#div-authors{
    overflow: hidden;
    width: 100%;
    background-color: white;
}
